#core-service/ docker_compose.yml
version: '3.8'

services:
  # 1. Redis 서비스 추가
  msa-redis:
    image: redis:alpine
    container_name: msa-redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - msa-network

  # 2. Core Service 설정
  core-service:
    image: ssrabw/server1_core:latest
    container_name: core-service
    restart: always
    ports:
      - "8080:8080"
    networks:
      - msa-network
    environment:
      # 스프링 프로파일 설정
      SPRING_PROFILES_ACTIVE: prod
      
      # Redis 연결 정보
      SPRING_DATA_REDIS_HOST: msa-redis
      SPRING_DATA_REDIS_PORT: 6379
      
      # DB 설정
      SPRING_DATASOURCE_URL: jdbc:postgresql://main-db:5432/msa_core_db
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
      
      # RabbitMQ 설정
      SPRING_RABBITMQ_HOST: rabbitmq

networks:
  msa-network:
    external: true